@import url("https://unpkg.com/leaflet@1.9.5/dist/leaflet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari, Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, Firefox */
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}